<section
  id="aboutme"
  class="flex flex-col p-14 md:p-20 md:flex-row gap-x-10 md:h-screen h-auto bg-zinc-800 text-gray-300"
>
  <div
    class="flex flex-1 md:px-60 flex-col gap-y-10 items-center justify-center text-center md:w-10"
  >
    <h2 class="text-5xl font-bold text-gray-100 pt-10">/ about me</h2>
    <p class="md:text-sm text-xs font-normal text-left">
      I am a person who enjoys solving problems, and I am restless and creative
      when it comes to finding solutions. This is perfect for web programming,
      as it offers endless opportunities to create and develop utilities, tools,
      and web pages that can help people, businesses, and the environment. The
      formula that has always worked for me is commitment and perseverance.
    </p>
    <p class="md:text-sm text-xs font-normal text-left">
      Before getting into programming, I spent over 7 years in the retail sector
      recruiting and developing talent in my teams to achieve economic progress
      in my company and in the projects I led. After working on several projects
      related to digital experience in my company, I decided to make the leap to
      learning everything related to web programming.
    </p>

    <p class="md:text-sm text-xs font-normal text-left">
      After graduating as a Full Stack Developer at IronHack Madrid, my goal is
      to continue developing myself, specializing in Web Layout and Frontend
      Development, in order to contribute to and develop projects in
      multidisciplinary teams where I can bring my experience and the best
      technological solutions.
    </p>
    <p class="md:text-sm text-xs font-normal text-left">
      Always on search of outperform I dedicate time to web programming
      training. Lately, I'm learning about Astro Js with React integrations to
      improve the web performance, morever of other forms to optimice my code
      (SOLID principles)
    </p>
    <p class="md:text-sm text-xs font-normal text-left">
      So, long story short, I'm a very enthusiastic person always driven for
      learn, improve and outperform myshelf on my profesional and personal
      skills. I invite you to know me and I would love converse with you.
    </p>
  </div>
</section>
