<section
  id="aboutme"
  class="flex flex-col p-14 md:p-20 md:flex-row gap-x-10 md:h-screen h-auto bg-zinc-800 text-gray-300"
>
  <div
    class="flex flex-1 md:px-60 flex-col gap-y-10 items-center justify-center text-center md:w-10"
  >
    <h2 class="text-5xl font-bold text-gray-100 pt-10">/ about me</h2>
    <p class="md:text-base text-xs font-normal text-left">
      Frontend Developer with nearly 3 years of experience in building dynamic, accessible, and scalable web interfaces. Currently at Havas Media, working in-house for Vodafone and developing for the baseE and Corporate Digital area to ensure an excellent web experience. My passion for programming and problem-solving drives me to create efficient solutions that deliver real value to users and contribute to high-quality products that positively impact projects and companies.
    </p>
    <p class="md:text-base text-xs font-normal text-left">
      With a strong foundation in HTML5, CSS3 (Flexbox and Grid), and JavaScript (ES6), I prefer using React for developing robust and scalable applications. I enjoy creating reusable components in Storybook and implementing unit and integration testing with Jest and Vitest to maintain stable, high-quality code. Additionally, I utilize preprocessors like Sass and the BEM methodology for CSS organization, along with frameworks like Bootstrap, Tailwind, and Material UI to enhance aesthetics and usability.
    <p class="md:text-base text-xs font-normal text-left">
      Additionally, I have developed reusable components in Storybook and implemented unit and integration tests using Jest and Vitest, ensuring stable and high-quality code. I am also proficient with preprocessors like Sass and the BEM methodology for CSS organization, as well as frameworks like Bootstrap, Tailwind, and Material UI to enhance project aesthetics and usability.
    </p>

</section>
