---
import { experienceYears } from '../../utils/experience';
---

<section
  id="aboutme"
  class="flex flex-col p-14 md:p-18 md:flex-row gap-x-10 md:h-screen h-screen snap-start bg-zinc-800 text-gray-300 opacity-0 translate-y-5 transition-all duration-700 "
>
  <div
    class="flex flex-1 md:px-60 flex-col gap-y-10 items-center justify-center text-center md:w-10"
  >
    <h2 class="text-5xl font-bold text-gray-100 pt-8">/ about me</h2>
    <p class="md:text-base text-xs font-normal text-left">
      Frontend Developer with + {experienceYears} years of experience in building dynamic, accessible, and scalable web interfaces. Currently at Havas Media, working in-house for Vodafone and developing for the baseE and Corporate Digital area to ensure an excellent web experience. My passion for programming and problem-solving drives me to create efficient solutions that deliver real value to users and contribute to high-quality products that positively impact projects and companies.
    </p>
    <p class="md:text-base text-xs font-normal text-left">
      With a strong foundation in HTML5, CSS3 (Flexbox and Grid), and JavaScript (ES6), I specialize in using React to develop robust and scalable applications. I enjoy creating reusable components in Storybook and implementing unit and integration testing with Jest and Vitest to maintain stable, high-quality code. Additionally, I am proficient in working with Fetch and REST APIs to handle data requests, and I use TypeScript to ensure type safety and improve code quality. I also work with preprocessors like Sass and follow the BEM methodology for CSS organization. For enhanced aesthetics and usability, I leverage frameworks like Bootstrap, Tailwind, and Material UI.
    <p class="md:text-base text-xs font-normal text-left">
      Over the years, I have gained experience building reusable components and implementing robust testing strategies to ensure that the code I write is maintainable and scalable. My workflow is focused on delivering high-quality, well-structured code, and I am always looking to improve my skills and stay up-to-date with the latest technologies.
    </p>
    <p class="md:text-base text-xs font-normal text-left">
      As a developer, I've faced several challenges that have been instrumental in my growth both technically and professionally. Over the past few years, I have learned to embrace SOLID principles, which have significantly improved the structure and maintainability of my code. Collaboration with cross-functional teams has also been a key aspect of my development journey, allowing me to improve communication skills and better understand the needs of different stakeholders. In addition, I have made great strides in improving the accessibility of my projects, ensuring that web interfaces are inclusive and user-friendly for all. The importance of modularity became clear as I began to focus on building scalable and reusable components, enabling me to work more efficiently and deliver high-quality, maintainable solutions. These experiences have enhanced my problem-solving abilities and made me more confident in tackling complex challenges while contributing to meaningful, impactful projects.
    </p>

</section>
