<section id="contactme" class="bg-gray-100 text-gray-700">
  <h2 class="text-center font-bold text-5xl pt-16">/ Contact</h2>
  <div class="flex flex-col items-center justify-center py-20">
    <p class="text-lg md:text-2xl text-gray-600 m-8">
      Do you want to talk with me?
    </p>
    <div class="flex flex-col items-center sm:flex-row">
      <a
        href="mailto:virginia.majuelos@gmail.com"
        target="_blank"
        class="flex items-center justify-center bg-orange-300 px-8 py-3 m-2 hover:bg-orange-200 rounded-lg text-gray-700"
      >
        <i class="fas fa-envelope mr-2"></i> E-mail
      </a>
      <a
        href="https://www.linkedin.com/in/virginiamajuelos/"
        target="_blank"
        class="flex items-center justify-center bg-orange-300 px-6 py-3 m-2 hover:bg-orange-200 rounded-lg text-gray-700"
      >
        <i class="fab fa-linkedin mr-2"></i> LinkedIn
      </a>
    </div>
    <img
      src="/website-virginiaMajuelos/images/engeering-team.svg"
      alt="Imagen contact"
      class="w-80 md:w-96 my-10"
    />
  </div>
</section>
