---
const year = new Date();
const getYear = year.getFullYear();
---

<footer class="bg-orange-300">
  <p class="text-sm md:text-lg text-center text-zinc-800">
    <small
      >© {getYear} Virginia Majuelos Design with ❤ -All Rights Reserved-</small
    >
  </p>
</footer>
