<header
  class="flex flex-col md:flex-row items-center justify-center gap-4 text-center md:text-left h-screen snap-start bg-gradient-to-r from-indigo-800 to-zinc-900"
>
  <div class="order-2 md:order-none">
    <h1 class="text-3xl mx-10 md:text-5xl md:mx-0 pb-2 text-gray-100">
      <span class="text-4xl md:text-6xl">Hey 💻 ,</span> I'm Virginia Majuelos
    </h1>
    <p class="my-8 text-5xl md:text-7xl font-extralight mr-10 text-gray-300">
      FRONTEND DEVELOPER
    </p>
    <button
      class="bg-orange-300 px-7 py-3 m-2 hover:bg-orange-200 rounded-lg text-gray-700"
    >
      <a href="#projects">My projects</a>
    </button>
    <button
      class="bg-orange-300 px-6 py-3 m-2 hover:bg-orange-200 rounded-lg text-gray-700"
    >
      <a href="#contactme">Contact me</a>
    </button>
  </div>
  <img src="/website-virginiaMajuelos/images/programmer.svg" alt="imagen hero" class="w-40 md:w-60" />
</header>
