---
import { FilterTabs } from '../FilterTabs/FilterTabs';

---

<div id="projects" class="fade-section flex flex-col pb-16 items-center justify-center bg-gradient-to-r from-indigo-800 to-zinc-900 duration-700 h-auto snap-start">
  <h2 class="text-center font-bold text-5xl pt-16 text-gray-300">/ Projects</h2>

<FilterTabs client:load/>
</div>
