---
// import "../styles/Layout.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="/website-virginiaMajuelos/images/programmer.svg"
      sizes="32x32"
      href="images/programmer.svg"
    />
    <title>Vir Majuelos - {title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"
    />
    <!-- <link rel="stylesheet" href="/src/styles/Layout.css" /> -->
  </head>
  <body>
    <main class="scroll-smooth">
      <slot />
    </main>
  </body>
</html>
